
{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<section id="profile" class="section-odd">
    <label for="emlInput">Email: </label>
    <input type="email" id="emlInput" />
    <button id="btnNext">Next</button>

        
</section>
{% endblock content %}

{% block js_extra %}
    <script src="{% static 'js/passwd_show.js' %}"></script>
    <script src="{% static 'js/btn_loader.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const ls = localStorage.getItem('eml');
            const eml = document.getElementById('emlSpan');
            eml.innerText = ls;
        });
    </script>
{% endblock %}
