<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>All Jobs</title>

    {% include 'snippets/css.html' %}

</head>

<body>
    <!-- HEADER -->
    <div id="wrapper">
        <!--banner starts here -->
        <section class="header_banner">
            <div class="icon_banner">
                
                {% include 'snippets/navbar.html' %}

               {% block content %}
               {% endblock content %}

            </div>
        </section>

        
        {% include 'snippets/footer.html' %}
    </div>
    {% include 'snippets/js.html' %}

</body>

</html>