{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- search_login starts here -->
 <section id="banner">
    <div class="container search_login_row">
        <div class="row mar_lr_0 search_login_blocks">
            <div class="search_block col-md-8 col-sm-12">
                <p class="message">You are very close to success. <br>
                    Our goal is to help you succeed</p>
                <div class="tabs_block">
                    <ul class="tabs">
                        <li><button class="job_type active_button" id="full-time">Full Time</button>
                        </li>
                        <li><button class='job_type' id="internship">Internship</button></li>
                        <li><button class='job_type' id="walk-in">Walkin</button></li>
                        <li><button class='job_type' id="Fresher">Fresher</button></li>
                    </ul>
                    <div class="search_location_other_block">
                        <div class="job-location_other">
                            <form class="form-inline autocomplete-me search-form" name="search-form"
                                id="search-form" method="POST">
                                <div class="input-group">
                                    <label class="sr-only"></label>
                                    <select class="form-select form-control_opt" name="location"
                                        id="job_location ">
                                        <option value="">Location</option>
                                        <option value="1">Dhaka</option>
                                    </select>

                                    <label class="sr-only"></label>
                                    <input type="text"
                                        class="form-control form-control_opt content_wrap_list"
                                        id="q-field" name="q"
                                        placeholder="Enter Any Skills, Qualifications"
                                        autocomplete="off">
                                    <input type="hidden" name="job_type" id='job_type'>
                                    <button type="submit" class="btn btn-default">Search Jobs</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login_block col-md-4 col-sm-12">
                <div class="login_box">
                    <p class="head text-capitalize login_text">All Jobs Type!</p>
                    <div class="row">
                        <div class="col-md-6 job-box">
                            <a href="" class="btn btn-success w-100 py-4">Govt Jobs 
                                <span class="job-count">(255)</span>
                            </a>
                        </div>
                        <div class="col-md-6 job-box">
                            <a href="" class="btn btn-success w-100 py-4">Private Jobs 
                                <span class="job-count">(58,255)</span>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 job-box">
                            <a href="" class="btn btn-success w-100 py-4">Foreign jobs 
                                <span class="job-count">(9,255)</span>
                            </a>
                        </div>
                        <div class="col-md-6 job-box">
                            <a href="" class="btn btn-success w-100 py-4">Others jobs 
                                <span class="job-count">(15,251)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- search_login ends here -->



        <!-- main_container starts here -->
        <section class="main_container">
            <div class="container">
                <div class="row mar_lr_0">
                    <div class="col-md-9 left_container">
                        <!-- register_block starts here -->
                        <div class="row mar_lr_0 register_block">
                            <div class="col-md-12 register_point border redirect_link" data-href="/alert/list/">
                                <div class="text-center register_col">
                                    <strong>Get Jobs Into your inbox</strong>
                                    <p>This feature is a work in progress, please stay tuned. Hope it will be very useful.</p>
                                </div>
                            </div>
                        </div>
                        <!-- register_block ends here -->
                        
                        <!-- top_locations starts here -->

                        <div class="row mar_lr_0 top_locations">
                            <div class="heading text-uppercase">Top Jobs</div>
                            <div class="row jobs_columns">
                                {% for job in top_jobs %}
                                <div class="col-md-4 col-sm-6 job_outer_col">
                                    <div class="job_col latest_jobs_class"
                                        id='/hiring-manual-tester-0-to-3-years-20989/'>
                                        <strong class="title">
                                            <a href="http://localhost/hiring-manual-tester-0-to-3-years-20989/">
                                                {{ job.job_title }}
                                            </a>
                                        </strong>
                                        <p>{{ job.company }}</p>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <i class="fas fa-sack-dollar"></i>
                                                    <span>{% if not job.salary %} Negotiable {% else %} {{ job.salary }} {% endif %}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="text-end">
                                                    <i class="fas fa-eye"></i>
                                                    <span>{% if not job.view_count %} 0 {% else %} {{ job.view_count }} {% endif %}</span>
                                                </p>
                                            </div>
                                        </div>

                                        <p class="location">
                                            <i class="fa fa-map-marker"></i>
                                            {{ job.job_location }}
                                        </p>
                                        <!--<p><a href="https://WTJOBSjobs.com/full-time-jobs/" class="apply">full-time</a></p>-->
                                        <p>
                                            <a href="#" class='apply job_apply job_apply_login' id="20989"
                                                data-href="/hiring-manual-tester-0-to-3-years-20989/?job_apply=applied">Apply
                                                Now</a>
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <!-- top_locations edns here -->
                        <!-- latest_jobs starts here -->
                        <div class="latest_jobs row mar_lr_0">
                            <div class="heading text-uppercase">Latest
                                Jobs<!--<a class="pull-right view-more" href="#">View More</a>--></div>
                            <div class="row jobs_columns">
                                <div class="col-md-4 col-sm-6 job_outer_col">
                                    <div class="job_col latest_jobs_class"
                                        id='/hiring-manual-tester-0-to-3-years-20989/'>
                                        <strong class="title"><a
                                                href="http://localhost/hiring-manual-tester-0-to-3-years-20989/">Hiring
                                                Manual Tester [0 - 3 Years]</a></strong>
                                        <p>Conative IT Solutions Pvt Ltd</p>
                                        <p><i class="fa fa-inr" aria-hidden="true"></i> <span>120000 P.A</span></p>
                                        <p class="location"><i class="fa fa-map-marker"></i>
                                            <a href="/jobs-in-indore/">Indore</a>
                                        </p>
                                        <!--<p><a href="https://WTJOBSjobs.com/full-time-jobs/" class="apply">full-time</a></p>-->
                                        <p>
                                            <a href="#" class='apply job_apply job_apply_login' id="20989"
                                                data-href="/hiring-manual-tester-0-to-3-years-20989/?job_apply=applied">Apply
                                                Now</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 job_outer_col">
                                    <div class="job_col latest_jobs_class"
                                        id='/freelancerpart-timeonline-marketingonlinemarketing-executive-0-to-0-years-20988/'>
                                        <strong class="title"><a
                                                href="http://localhost/freelancerpart-timeonline-marketingonlinemarketing-executive-0-to-0-years-20988/">FreelancerPart
                                                timeOnline MarketingOnlineMarketing Executive [Fresher]</a></strong>
                                        <p>TFG Vacations India Pvt. Ltd</p>
                                        <p><i class="fa fa-inr" aria-hidden="true"></i> <span>270000 P.A</span></p>
                                        <p class="location"><i class="fa fa-map-marker"></i>
                                            <a href="/jobs-in-delhi/">Delhi</a>
                                        </p>
                                        <!--<p><a href="https://WTJOBSjobs.com/full-time-jobs/" class="apply">full-time</a></p>-->
                                        <p>
                                            <a href="#" class='apply job_apply job_apply_login' id="20988"
                                                data-href="/freelancerpart-timeonline-marketingonlinemarketing-executive-0-to-0-years-20988/?job_apply=applied">Apply
                                                Now</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 job_outer_col">
                                    <div class="job_col latest_jobs_class"
                                        id='/senior-content-writer-1-to-3-years-20986/'>
                                        <strong class="title"><a
                                                href="http://localhost/senior-content-writer-1-to-3-years-20986/">Senior
                                                Content Writer [1 - 3 Years]</a></strong>
                                        <p><a href="/innovays-business-services-pvt-ltd-job-openings/">Innovays business
                                                services Pvt Ltd</a></p>
                                        <p><i class="fa fa-inr" aria-hidden="true"></i> <span>180000 P.A</span></p>
                                        <p class="location"><i class="fa fa-map-marker"></i>
                                            <a href="/jobs-in-bangalore/">Bangalore</a>
                                            ,
                                            <a href="/jobs-in-karnataka/">Karnataka</a>
                                        </p>
                                        <!--<p><a href="https://WTJOBSjobs.com/full-time-jobs/" class="apply">full-time</a></p>-->
                                        <p>
                                            <a href="#" class='apply job_apply job_apply_login' id="20986"
                                                data-href="/senior-content-writer-1-to-3-years-20986/?job_apply=applied">Apply
                                                Now</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- latest_jobs ends here -->
                    </div>
                    <div class="col-md-3 right_container">
                        <div class="walkin_jobs">
                            <div class="heading text-uppercase">Best Jobs</div>
                            <ul class="walkin_blocks">

                                <li class="walkin_block"
                                    id="/wanted---graphic-and-web-designer-in-pondicherry-1-to-2-years-18122/">
                                    <strong class="title"><a
                                            href="/wanted---graphic-and-web-designer-in-pondicherry-1-to-2-years-18122/">WANTED
                                            - GRAPHIC and WEB DESIGNER IN PONDICHERRY</a></strong>
                                    <p>AAKHAASH MEDIA COLLEGE</p>
                                    <p class="location"><i class="fa fa-map-marker"></i>

                                        <a href="/jobs-in-pondicherry/">Pondicherry</a>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- main_container ends here -->

        <section class="job_types_links mar_lr_0">
            <div class="container">
                <div class="row  d-flex justify-content-center  mar_lr_0">
                    <div class="col-md-2 col-sm-4 job_types_link_col">
                        <ul>
                            <li><a href="/jobs-by-skill/">Skills</a></li>
                            <li><a href="/basic-computer-knowledge-jobs/">Jobs For Basic</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4  job_types_link_col">
                        <ul>
                            <li><a href="/jobs-by-industry/">Full Time</a></li>
                            <li><a href="/it-software-industry-jobs/">Jobs For IT-Software</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4  job_types_link_col">
                        <ul>
                            <li><a href="/jobs-by-location/">Part Time</a></li>
                            <li><a href="/jobs-in-bangalore/">Jobs in Bangalore</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4  job_types_link_col">
                        <ul>
                            <li><a href="/fresher-jobs/">Fresher</a></li>
                            <li><a href="/basic-computer-knowledge-fresher-jobs/">Basic Computer … Fresher Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4  job_types_link_col">
                        <ul>
                            <li><a href="/internship-jobs/">Internship</a></li>
                            <li><a href="/internship-jobs-in-hyderabad/">Internship Jobs in Hyderabad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-4  job_types_link_col">
                        <ul>
                            <li><a href="/companies/">Remote</a></li>

                            <li><a href="/sumukh-multigrains-job-openings/" title="Sumukh Multigrains">Sumukh
                                    Multigrains</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
