{% load static %}

<!-- META -->
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="en-US"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <meta name="description" content="TPL_Django">  <!-- site description -->
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="">  <!-- update href to domain address -->
{% endblock meta %}

<!-- FACICON -->
{% block favicon %}
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
{% endblock favicon %}

<!-- CSS -->
{% block css %}
    {% block css_main %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Select 2 -->
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% endblock css_main %}
    {% block css_extra %}{% endblock css_extra %}

    {% block font_main %}
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Bebas+Neue&family=Saira+Condensed&display=swap" rel="stylesheet">
        <!-- add your fonts here -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        {% endblock font_main %}
    {% block font_extra %}{% endblock font_extra %}
{% endblock css %}