{% load static %}
<!-- footer starts here -->
<section>
    <footer>
        <div class="container">
            <div class="row mar_lr_0">

                <div class="col-12 col-md-4 col-sm-12 col-xs-12 about">
                    <strong class="logo">WTJOBSjobs</strong>
                    <p>All Jobs In Bd is a platform that connects job seekers with potential employers. These platforms provide a variety of tools to help job seekers find suitable job opportunities, such as job search filters, resume builders, and interview preparation tips. Employers can also use job sites to post job vacancies, review resumes and applications, and communicate with job seekers. Job sites can be general or industry-specific, and they may offer free or paid services. With the rise of remote work and the increasing reliance on online job search, job sites have become an essential part of the modern job market.</p>
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12 links">
                    <ul class="footer_links">
                        <li class="text-uppercase">About Us</li>
                        <li><a href="/page/about-us/" target="_blank">About WTJOBSjobs</a></li>
                        <li><a href="/sitemap/" target="_blank">Sitemap</a></li>
                        <li><a href="/page/terms-conditions/" target="_blank">Terms &amp; Conditions</a></li>
                        <li><a href="/page/privacy-policy/" target="_blank">Privacy Policy</a></li>
                        <li><a href="/contact/" target="_blank">Contact Us</a></li>
                    </ul>
                    <ul class="footer_links">
                        <li class="text-uppercase">Recruiter</li>
                        <li><a href="/recruiter/login/" target="_blank">Registration</a></li>
                        <li><a href="/page/recruiter-faq/" target="_blank">FAQs</a></li>
                        <li><a href="/post-job/" target="_blank">Post Job For Free</a></li>
                    </ul>
                    <ul class="footer_links">
                        <li class="text-uppercase">Job Seekers</li>

                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#login_register">Login /
                                Connect</a></li>

                        <li><a href="/" target="_blank">Search Jobs</a></li>
                        <li><a href="/jobs/" target="_blank">View All Jobs</a></li>
                        <li><a href="/page/faq/" target="_blank">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 subscribe_social_copy">
                    <div class="copy_right text-center">Copyright &copy; 2023 wt-jobs.com || <a
                            href="#" target="_blank">Development + SEO by BD CSE Solved</a>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</section>
<!-- footer ends here -->