<div class="header_panel">
    <nav class="navbar navbar-expand-lg megamenu py-3">
        <div class="container">
            <a class="navbar-brand" href="/">WTJOBSjobs</a>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav main_menu">
                    <li>
                        <a href="/fresher-jobs-by-skills/">Govt. Jobs</a>
                    </li>
                    <li>
                        <a href="/internship-jobs/">Private Jobs</a>
                    </li>
                    <li>
                        <a href="/companies/">Foreign jobs</a>
                    </li>
                    <li>
                        <a href="/companies/">Others jobs</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
</div>