{% extends 'base/base.html' %}
{% load static %}

{% block title_text %}Profile{% endblock title_text %}

{% block content %}
<section id="profile" class="section-odd">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Company Profile</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="title">Total Job Post</h5>
                        <h4>{{ object.total_job }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a href="">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="title">Active Job</h5>
                            <h4>{{ object.open_job }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="title">Follower</h5>
                        <h4>252k</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="title">Following</h5>
                        <h4>2</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Active Job List</h5>
                        <span>Here are all the active jobs of the company</span>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Vacancy</th>
                                    <th>Publish Date</th>
                                    <th>End Date</th>
                                    <th>Salary</th>
                                    <th>Job Type</th>
                                    <th>Status</th>
                                </tr>
                                {% for obj in company_jobs %}
                                <tr>
                                    <th><a href="{% url 'jobs:detail' obj.slug %}">{{ obj.job_title }}</a></th>
                                    <td>{{ obj.vacancy }}</td>
                                    <td>{{ obj.published_date }}</td>
                                    <td>{{ obj.deadline_date }}</td>
                                    <td>{{ obj.salary }}</td>
                                    <td>{{ obj.job_type }}</td>
                                    <td>
                                        {% if obj.job_status.code == '03' %}
                                        <button class="btn btn-sm btn-success">Active</button>
                                        {% else %}
                                        <button class="btn btn-sm btn-danger">Inactive</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}