{% extends 'base/base.html' %}
{% load static %}

{% block title_text %}Home{% endblock title_text %}

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>You are very close to <span>success.</span></h3>
                <h3>Your related jobs are <a href="">here.</a></h3>
                <div class="row">
                    <div class="col-md-10">
                        <form action="{% url 'jobs:search' %}" method="get">
                            <div class="small fw-light text-light">Click any one to get specific job search results</div>
                            <div class="btn-group">
                                {% for obj in employee_stats %}
                                <input type="radio" class="btn-check" name="options" value="{{ obj.code }}" id="option{{ forloop.counter }}" />
                                <label class="btn button-color me-1" for="option{{ forloop.counter }}">{{ obj }}</label>
                                {% endfor %}
                            </div>                            
                            <div class="input-group mb-3 mt-1">
                                <span class="input-group-text border-end-0 bg-white">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="search" name="q" class="form-control" placeholder="Find your dream job.">
                                <button class="btn btn-sm button-color">SEARCH JOBS</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card job-count">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{% url 'jobs:job_type' 'gj' %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <span>{{ all_govt_jobs.count }}</span>
                                            <h6>Govt Jobs</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'jobs:job_type' 'pj' %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <span>{{ all_private_jobs.count }}</span>
                                            <h6>Private Jobs</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <a href="{% url 'jobs:job_type' 'fj' %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <span>{{ all_foreign_jobs.count }}</span>
                                            <h6>Foreign Jobs</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->
<!-- Top company -->
<!-- <section id="top-company" class="section-odd">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title">
                    <img style="width: 30px;" src="{% static 'images/icone/top-rated.png' %}"> 
                    Top Five Company
                </h4>
                <hr>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Total Employee Needed</th>
                                <th>Total Job Post</th>
                                <th>Open Job Post</th>
                                <th>Flower</th>
                                <th>Flowing</th>
                            </tr>
                            {% for job in top_company %}
                            <tr>
                                <th><a href="{% url 'company:profile' job.company.pk %}">{{ job.company.name }}</a></th>
                                <td>{{ job.company.location }}</td>
                                <td>{{ job.company.employee_need }}</td>
                                <td>{{ job.company.jobs.all.count }}</td>
                                <td><a href="{% url 'company:profile' job.company.pk %}">{{ job.company.open_job }}</a></td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Top company -->

<!-- Best Match Start -->
<!-- <section id="best-match" class="section-even">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="title">
                    <img style="width: 30px;" src="{% static 'images/icone/competition.png' %}"> 
                    Best Matches
                </h4>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-sm button-color w-100 float-end">Show All</a>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3 pt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title">Software Engineer Needed</h5>
                        <div class="row">
                            <div class="col-6">Full Time</div>
                            <div class="col-6 text-end">[3-4 Years]</div>
                        </div>
                        <h6><a href="hhh">All Jobs In Bd</a></h6>
                        <div class="row">
                            <div class="col-6"><i class="fa-solid fa-location-dot"></i> Bangladesh</div>
                            <div class="col-6 text-end">
                                <i class="fa-solid fa-bangladeshi-taka-sign"></i> 25000</div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <a class="btn btn-sm skills" href="">python</a>
                                <a class="btn btn-sm skills" href="">django</a>
                                <a class="btn btn-sm skills" href="">aws</a>
                            </div>
                            <div class="col-5">
                                <a href="#" class="btn btn-sm button-color apply">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Best Match End -->

<!-- Latest Job Start -->
<section id="latest-jobs" class="section-odd">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="title">
                    <img style="width: 30px;" src="{% static 'images/icone/competition.png' %}"> 
                    Latest Jobs
                </h4>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-sm button-color w-100 float-end">Show All</a>
            </div>
            <hr>
        </div>
        <div class="row">
            {% for job in latest_jobs %}
            <div class="col-md-4 pt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title">{{ job.job_title }}</h5>
                        <div class="row">
                            <div class="col-6">{{ job.employment_status }}</div>
                            <div class="col-6 text-end">[{{ job.experience }}]</div>
                        </div>
                        <h6><a href="hhh">{{ job.company }}</a></h6>
                        <div class="row">
                            <div class="col-6"><i class="fa-solid fa-location-dot"></i> {{ job.job_location }}</div>
                            <div class="col-6 text-end">
                                <i class="fa-solid fa-bangladeshi-taka-sign"></i> 
                                {% if job.is_negotiable %} Negotiable {% else %} {{ job.salary }}{% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                {% for skill in job.skills.all %}
                                <a class="btn btn-sm skills" href="{% url 'jobs:search' %}?skill={{ skill|safe }}">{{ skill|safe }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-5">
                                <a href="{% url 'jobs:detail' job.slug %}" class="btn btn-sm button-color apply">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Job End -->

<!-- Govt Job Start -->
<section id="govt-jobs" class="section-even">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="title">
                    <img style="width: 30px;" src="{% static 'images/icone/competition.png' %}"> 
                    Govt Jobs
                </h4>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-sm button-color w-100 float-end">Show All</a>
            </div>
            <hr>
        </div>
        <div class="row">
            {% for job in govt_jobs %}
            <div class="col-md-4 pt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title">{{ job.job_title }}</h5>
                        <div class="row">
                            <div class="col-6">{{ job.employment_status }}</div>
                            <div class="col-6 text-end">[{{ job.experience }}]</div>
                        </div>
                        <h6><a href="hhh">{{ job.company }}</a></h6>
                        <div class="row">
                            <div class="col-6"><i class="fa-solid fa-location-dot"></i> {{ job.job_location }}</div>
                            <div class="col-6 text-end">
                                <i class="fa-solid fa-bangladeshi-taka-sign"></i> 
                                {% if job.is_negotiable %} Negotiable {% else %} {{ job.salary }}{% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                {% for skill in job.skills.all %}
                                <a class="btn btn-sm skills" href="{% url 'jobs:search' %}?skill={{ skill|safe }}">{{ skill|safe }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-5">
                                <a href="{% url 'jobs:detail' job.slug %}" class="btn btn-sm button-color apply">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Govt Job End -->

<!-- Private Job Start -->
<section id="private-jobs" class="section-odd">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="title">
                    <img style="width: 30px;" src="{% static 'images/icone/competition.png' %}"> 
                    Private Jobs
                </h4>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-sm button-color w-100 float-end">Show All</a>
            </div>
            <hr>
        </div>
        <div class="row">
            {% for job in private_jobs %}
            <div class="col-md-4 pt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title">{{ job.job_title }}</h5>
                        <div class="row">
                            <div class="col-6">{{ job.employment_status }}</div>
                            <div class="col-6 text-end">[{{ job.experience }}]</div>
                        </div>
                        <h6><a href="hhh">{{ job.company }}</a></h6>
                        <div class="row">
                            <div class="col-6"><i class="fa-solid fa-location-dot"></i> {{ job.job_location }}</div>
                            <div class="col-6 text-end">
                                <i class="fa-solid fa-bangladeshi-taka-sign"></i> 
                                {% if job.is_negotiable %} Negotiable {% else %} {{ job.salary }}{% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                {% for skill in job.skills.all %}
                                <a class="btn btn-sm skills" href="{% url 'jobs:search' %}?skill={{ skill|safe }}">{{ skill|safe }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-5">
                                <a href="{% url 'jobs:detail' job.slug %}" class="btn btn-sm button-color apply">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Private Job End -->

<!-- Foreign Job Start -->
<section id="foreign-jobs" class="section-even">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="title">
                    <img style="width: 30px;" src="{% static 'images/icone/competition.png' %}"> 
                    Foreign Jobs
                </h4>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-sm button-color w-100 float-end">Show All</a>
            </div>
            <hr>
        </div>
        <div class="row">
            {% for job in foreign_jobs %}
            <div class="col-md-4 pt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title">{{ job.job_title }}</h5>
                        <div class="row">
                            <div class="col-6">{{ job.employment_status }}</div>
                            <div class="col-6 text-end">[{{ job.experience }}]</div>
                        </div>
                        <h6><a href="hhh">{{ job.company }}</a></h6>
                        <div class="row">
                            <div class="col-6"><i class="fa-solid fa-location-dot"></i> {{ job.job_location }}</div>
                            <div class="col-6 text-end">
                                <i class="fa-solid fa-bangladeshi-taka-sign"></i> 
                                {% if job.is_negotiable %} Negotiable {% else %} {{ job.salary }}{% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                {% for skill in job.skills.all %}
                                <a class="btn btn-sm skills" href="{% url 'jobs:search' %}?skill={{ skill|safe }}">{{ skill|safe }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-5">
                                <a href="{% url 'jobs:detail' job.slug %}" class="btn btn-sm button-color apply">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Foreign Job End -->
{% endblock content %}