{% extends 'base.html' %}
{% load static %}

{% block title_text %}Home{% endblock title_text %}

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>You are very close to <span>success.</span></h3>
                <h3>Your related jobs are <a href="">here.</a></h3>
                <form action="" method="get">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="small fw-light">Click any one to get specific job search results</div>
                            <div class="btn-group">
                                <input type="radio" class="btn-check" name="options" value="1" id="option1" />
                                <label class="btn button-color" for="option1">Checked</label>
                            
                                <input type="radio" class="btn-check" name="options" value="2" id="option2" />
                                <label class="btn button-color mx-1" for="option2">Radio</label>
                            
                                <input type="radio" class="btn-check" name="options" value="3" id="option3" />
                                <label class="btn button-color" for="option3">Radio</label>
                            </div>                            
                            <div class="input-group mb-3 mt-1">
                                <span class="input-group-text border-end-0 bg-white">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="search" name="q" class="form-control" placeholder="Find your dream job.">
                                <button class="btn btn-sm button-color">SEARCH JOBS</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="card job-count">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="">
                                    <div class="card">
                                        <div class="card-body">
                                            <span>250</span>
                                            <h6>Govt Jobs</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="">
                                    <div class="card">
                                        <div class="card-body">
                                            <span>1522</span>
                                            <h6>Private Jobs</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <a href="">
                                    <div class="card">
                                        <div class="card-body">
                                            <span>1522</span>
                                            <h6>Foreign Jobs</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}