/* common Fields */

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    background: #f5f6f7;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #D89353;
}
a:hover {
    text-decoration: none;
    color: #bd8e63;
}
.container {
    width: 1380px;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.btn-success {
    background-color: #62bb46 !important;
    border-color: #62bb46 !important;
}
.btn{
    border-radius: 1px !important;
}

.form-control_opt, footer .subscribe_social_copy .subscribe .input-group .form-control {
    box-shadow: none;
    height: 40px;
    border: none;
    border-radius: 0;
    font-size: 12px;
}

.green {
    color: #62bb46;
    font-size: 12px;
}
.grey {
    color: #45586d;
    font-size: 12px;
}
.button-color {
    background: #D89353 !important;
    color: #fff !important;
}
.section-odd{
    padding: 25px 0px;
    background: #eeeeee;
}
.section-even{
    padding: 25px 0px;
    background: #fff;
}
.title {
    font-size: 18px;
    font-weight: 700;
    color: #666;
}
/* ============== END COMMON ==================== */
/* =============== NAVBAR ======================== */
.navbar{
    background: #065196 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: #fff !important;
}
/* =============== END-NAVBAR ======================== */
/* =================== BANNER LEFT START ================== */
#banner{
    position: relative;
    padding: 70px 0;
    /* background: #065196 !important; */
    background: url(../images/banner-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #06509680 ;
    width: 100%;
    height: 100%;
}
.container{
    position: relative;
    z-index: 999;
}
#banner .row .col-md-8 h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 15px;
    color: #fff !important;
}
#banner .row .col-md-8 h3 span, #banner .row .col-md-8 h3 a {
    color: #fff !important;
}
#banner input[type="search"]{
    font-size: 12px;
    padding: 12px 10px;
}
#banner .job-count {
    background: #f7e2cf26 !important;
}
#banner .job-count .row .card {
    background: #d8935328 !important;
    font-family: 'Rubik Pixels', cursive;
    color: #000 !important;
    text-align: center !important;
}
#banner .job-count .row .card span {
    color: #dfdede;
    font-size: 20px;
    background: gray;
    padding: 3px 8px;
    border-radius: 5px;
}
#banner .btn-group>.button-color:active, 
#banner .btn-group>.button-color:focus, 
#banner .btn-group>.button-color:hover {
    color: #fff !important;
    background: #bd8e63 !important;
}
#job_type{
    font-size: 12px !important;
}
/* =================== BANNER LEFT END ================== */

/* =================== TOP COMPANY START ================== */
.container .row .card-body h5 {
    font-size: 14px;
    font-weight: 400;
}
.container .row .card-body h6 {
    font-size: 14px;
    font-weight: 400;
}
.container .row .card-body .apply {
    font-size: 12px;
    padding: 3px 5px;
}
.container .row .card-body .skills {
    font-size: 11px;
    background: gray;
    padding: 0px 2px;
    color: #fff;
}
/* =================== TOP COMPANY END ================== */

/* =================== FOOTER START =================== */

footer {
    padding: 25px;
    background: #26262f;
    background-size: contain;
}
@media (min-width:240px) and (max-width:767px) {
    footer {
    padding: 15px 0px;
}
}footer .about .logo {
    color: #fff;
    font-size: 20px;
}
footer .about p {
    margin-top: 10px;
    color: #b8b8ba;
}
@media (min-width:240px) and (max-width:991px) {
    footer .links {
    margin: 15px 0;
}
}footer .links ul {
    width: 33%;
    float: left;
    margin: 0;
    padding: 0;
}
@media (min-width:240px) and (max-width:767px) {
    footer .links ul {
    width: 100%;
    margin: 6px 0;
}
}footer .links ul li {
    list-style: none;
}
@media (min-width:240px) and (max-width:767px) {
    footer .links ul li {
    float: left;
    margin: 0;
    margin-right: 15px;
}
}footer .links ul li:first-child {
    color: #fff;
    font-weight: 600;
    margin-bottom: 7px;
}
@media (min-width:240px) and (max-width:767px) {
    footer .links ul li: first-child {
        display: block;
        float: none;
        margin: 0;
    }
}
footer .links ul li a {
    color: #9e9ea1;
    font-size: 12px;
}
footer .links ul li a:hover {
    color: #fff;
    text-decoration: none;
}
footer .subscribe_social_copy .subscribe .input-group .form-control {
    background: #f5f6f7;
}
footer .subscribe_social_copy .subscribe .input-group .input-group-btn .btn {
    background: #62bb46;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    min-height: 40px;
    outline: none;
}
footer .subscribe_social_copy .subscribe .input-group .input-group-btn .btn:hover {
    background: #fff;
    color: #62bb46;
}
footer .subscribe_social_copy #banner .icon_banner .search_login_row .search_login_blocks .login_block .login_box .social_links ul li a, #banner .icon_banner .search_login_row .search_login_blocks .login_block .login_box footer .subscribe_social_copy .social_links ul li a, footer .subscribe_social_copy .main_container .right_container .inner_login_box .login_box .social_links ul li a, .main_container .right_container .inner_login_box .login_box footer .subscribe_social_copy .social_links ul li a, footer .subscribe_social_copy .social_links ul li a {
    padding-top: 8px;
}
footer .subscribe_social_copy .copy_right {
    color: #fff;
    font-size: 10px;
    margin-top: 15px;
}
footer .subscribe_social_copy .copy_right a {
    color: #fff;
}
footer .subscribe_social_copy .copy_right a:hover {
    color: #fff;
}
/* ============ FOOTER END ================ */
